<form [formGroup]="formDriver" (ngSubmit)="save()">
    <h1 mat-dialog-title class="centered-text">
        @switch (this.action) {
        @case (DialogAction.CREATE) {
        Alta de Conductor
        }
        @case (DialogAction.EDIT) {
        Modificación de Conductor
        }
        @case (DialogAction.OBSERVE) {
        Detalle de Conductor
        }
        }
    </h1>
    <mat-dialog-content class="mat-typography">
        <div class="grid-form-driver">
            <app-select-profile-picture [photoData]="photoData()" [(photoFile)]="this.selecteFile"
                class="full-width-grid"></app-select-profile-picture>

                <app-simple-input
                    [control]="formDriver.controls.name"
                    [name]="'name'"
                    [label]="'Nombre'"
                    [maxLength]="50"
                    [isRequired]="true"
                    [validators]="this.errors.name"
                />
            
                <app-simple-input
                    [control]="formDriver.controls.lastname"
                    [name]="'lastname'"
                    [label]="'Apellidos'"
                    [maxLength]="50"
                    [isRequired]="true"
                    [validators]="this.errors.lastname"
                />

            
                <app-simple-input
                    [control]="formDriver.controls.email"
                    [name]="'email'"
                    [label]="'Correo'"
                    [maxLength]="50"
                    [type]="'email'"
                    [validators]="this.errors.email"
                />
          
                <app-simple-input
                    [control]="formDriver.controls.phone"
                    [name]="'phone'"
                    [label]="'Telefono'"
                    [maxLength]="20"
                    [type]="'tel'"
                    [validators]="this.errors.phone"
                />

            @if(this.action !== DialogAction.EDIT) {
            <mat-form-field>
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthdate" required name="birthdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            }
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit">Save</button>
    </mat-dialog-actions>
</form>