


.grid-form-driver{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    padding-top: 10px;
    box-sizing: border-box;
    row-gap: 10px;
    column-gap: 20px;
}




@media (max-width: 600px) {
    .grid-form-driver{
        grid-template-columns: 1fr;
    }
}